// Navigation code here
.nav-container {
  background-color: @sea-shell;
}
.nav-head {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.nav-bar {
  text-align: center;
  padding: 1%;
  .nav-text;
}
.space-img {
  .img-radius;
}

@media (max-width: 500px) {
  .nav-container {
    max-width: 100%;
    height: auto;
  }
  .space-img {
    max-width: 100%;
    height: auto;
  }
}
